

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  position: relative;
  min-height: 100vh;

  width: 100%;
  height: auto;
  background-color: #f9f9fb;
  color: #494d55;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
}
h3 {
  font-size: 1.5rem;
}
p,
a, li {
  font-size: 1.4rem;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;


 


}


