$color-text: #2c3247;
$color-text-main: #494d55;
$color-nav-text-active: #219fff;
$color-nav-hover: #219fff;
$color-footer-bg: rgb(43, 59, 77);
$color-footer-main: rgba(255,255,255,.6);

$color-doc-mc-cmd:  hsl(129, 38%, 61%);
$color-card-bg: #fff;