

.wiki {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "nav nav"
    "sidebar content";
  grid-template-columns: 250px auto;

  @media only screen and (max-width: 850px) {
    grid-template-areas:
    "nav"
    "content";
    grid-template-columns: auto;
	}


  &-section {
    padding-bottom: 2.5rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  
  &__sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    grid-area: sidebar;

    @media only screen and (max-width: 850px) {
      display: none;
    }
  }

  &__content {
    grid-area: content;
    padding-bottom: 700px;
  }

}


.docs {
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #d7d6d6;
  }

  .mc_cmd {
    color: $color-doc-mc-cmd;
  }

}
